.list-products { overflow: hidden; }

.item-product {
  .transform(translate3d(0,0,0));
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;

  .attribution {
    .position(absolute, auto, 0, 0, 0);
    .background-image(linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,.5) 100%));
    padding: .5rem;
    text-align: center;
    z-index: 1;

    .title-product {
      .font-s2;
      .type-bold;
      //color: @color-empty;
	color: black;
      display: inline-block;
      line-height: 1.1em;
    }

    .metadata-product {
      display: block;
      white-space: nowrap;
      width: 100%;

      .ourPrice-product {
        .font-s1-alt;
        .type-secondary;
        .title-caps;
        .ellipsized;
        //color: rgba(255,255,255,.7);
        color: black;
        display: inline-block;
        line-height: 1;
        max-width:  90%;
        padding-right: 1rem;
      }

      .stockCount-product {
        .font-s1-alt;
        .type-secondary;
        .title-caps;
        .ellipsized;
        //color: rgba(255,255,255,.7);
        color: black;
        display: inline-block;
        line-height: 1;
        max-width:  90%;
        padding-right: 1rem;
      }

      .author-product {
        .font-s1-alt;
        .type-secondary;
        .title-caps;
        .ellipsized;
        color: rgba(255,255,255,.7);
        display: inline-block;
        line-height: 1;
        max-width:  90%;
        padding-right: 1rem;
      }

      .bookmarks-product {
        .font-s1;
        color: rgba(255,255,255,.7);
        line-height: 1;
        display: inline-block;
        margin-left: -1.25rem;
        padding: .3em .5em;
        vertical-align: middle;

        .icon-bookmark {
          font-size: 80%;
          vertical-align: middle;
        }
      }
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &.highlighted { width: 100%; }
}
