<template name="about">
  <div class="page about">
    {{> nav title='关于' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <!--
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="斑点狗"/>
        </h1>
        -->
      </div>
      <div class="description-about">
        <p>Wish List是go购全球旗下专为出境游客定制的创新的电商平台。我们的欧美专业买手拥有多年经验，积累了众多的欧美商家、品牌关系和货源优势。</p>
        <p>我们从众多品牌中精选了中国游客喜爱的热门品牌和商品，让您在香港也能享受到欧美的退税到手价。</p>
        <p>我们还提供贴心的机场和酒店配送服务，为您的旅程释放更多的游玩时间。</p>
        <p><img src="wechatqrcode.jpg" style="width:100%;height:100%" alt="go购全球微信二维码"></p>
      </div>

    </div>
    <a href="http://www.gogo7.cn" class="btn-primary js-open" target="_blank">GoGo7</a>
  </div>
</template>