<template name="cart">
  <div class="page bookmarks">
    {{> nav title='购物车' subtext=''}}

    <div id="cart" class="content-scrollable">
      
      {{#if hasItemsInCart}}
			
	    <div>
		    <ul>
		      {{#each itemsInCart}}
						<li>
					  	<button class="delete">&times;</button>
					  	<span class="text">{{productName}}&nbsp;&nbsp; 数量 : {{number}}&nbsp;&nbsp; 单价 : {{productPrice}}</span>
					  </li>
	        {{/each}}
						<li>
					  	<span class="text">总价(人民币) : {{grandTotal}}</span>
					  </li>
					  <li>
					    <div>
				        <h3>请提供正确的联系电话与折扣码以免延误您的订单</h3>
			          <label></label>
			          <input type="text" id="phone" name="phone" value="{{phone}}" placeholder="联系电话(必填)" />
			          <input type="text" id="deliveryAddress" name="deliveryAddress" value="{{deliveryAddress}}" placeholder="配送地址(必填)" />
				     		<input type="text" id="deliveryTime" name="deliveryTime" value="{{deliveryTime}}" placeholder="配送时间(必填)" />
				     		<input type="text" id="discountCode" name="discountCode" value="{{discountCode}}" placeholder="折扣码(如未填写将无法获得折扣)" />
				     		<textarea id="description" rows="2" name="description" value="{{description}}" placeholder="额外说明(您可以留下期望的联系人、特殊要求等信息)"></textarea>
					    </div>
					  </li>
		    </ul>
		  </div>
      <a class="btn-primary btn-order"><span class="icon-checkmark"></span>下单</a>
			
      {{else}}
	    <div>
		    <ul>
					<li>
      			<span class="text">您的购物车空空如也，快去<a href="{{pathFor 'products'}}">看看我们的商品目录</a>加点吧</span>
      		</li>
		    </ul>
		  </div>
      {{/if}}
    </div>
    
  </div>
</template>