<template name="home">
  <div class="page home">

    {{>nav title='Wish List' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
      	<!--
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="斑点狗"/>
        </h1>
        -->
        <span class="hours"><span class="title-callout">7 X 24h online</span>
        endless shopping</span>
        <span class="arrow"></span>
      </div>
      <div class="callout-news">
        <!--
        <span class="title-callout">新闻</span>
        {{latestNews.text}}
        -->
        专为游客设计，整合当地及欧美批发供应商，提供最便捷和省时的酒店和机场配送，您无需再到处寻找，既能以当地最优折扣价购买到欧美日韩的最热商品！为您省时、省钱、省精力！正品承诺！
      </div>

<!--
      <h2 class="list-title">促销ing</h2>
      <div class="list-subtitle">看看现在有什么促销活动</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">抱歉，暂时没有促销</div>
            <div class="subtitle-message">Share that you made a recipe and it will show up here.</div>
          </div>
        {{/each}}
      </div>
-->
      <a href="{{pathFor 'productsLuxury'}}" class="btn-primary">看看我们的商品目录</a>

      <h2 class="list-title">我们最受欢迎的商品</h2>
      <div class="list-subtitle">最多人购买的热门商品</div>
      <div class="list-recipes">
        {{#each featuredProducts}}
          {{> productItem product=this size='small'}}
        {{/each}}
      </div>
      <a href="{{pathFor 'productsLuxury'}}" class="btn-primary">全部商品</a>
    </div>

  </div>
</template>