<template name="nav">
  <nav class="{{#if black}}black{{/if}}">
    <div class="nav-group">
      {{#if back}}
        <a class="nav-item js-back" href="#">back<span class="icon-arrow-left-alt"></span></a>
      {{else}}
        <a class="nav-item js-menu" href="#">menu<span class="icon-menu"></span></a>
      {{/if}}
    </div>

    <div class="title-page">
      {{#if products}}
        <div style="display: inline-block; z-index:200;">
          <a href="{{pathFor 'productsLuxury'}}" style="height: auto; width: 23%;" class="luxuryProducts">奢侈品</a>
          <a href="{{pathFor 'productsBaby'}}" style="height: auto; width: 23%;" class="babyProducts">母婴</a>
          <a href="{{pathFor 'productsHealthfood'}}" style="height: auto; width: 23%;" class="healthfoodProducts">保健品</a>
          <a href="{{pathFor 'productsCosmetics'}}" style="height: auto; width: 23%;" class="cosmeticsProducts">美容品</a>
        </div>
      {{else}}
        {{title}}
        <span class="subtext-page">{{subtext}}</span>
      {{/if}}
    </div>

    <div class="nav-group right">
      {{> Template.contentBlock }}
    </div>
  </nav>
</template>