<!-- 添加商品 -->
<template name="newsSubmit">
  <div id="newsSubmit" class="content-scrollable">
    <div>
      <form>
        <label>首页新闻</label>
        <textarea name="newscontent" rows="1" placeholder="首页的简短新闻">{{latestNews.text}}</textarea>
        <button type="submit" class="btn-primary">保存新闻</button>
      </form>
	  </div>
  </div>
</template>