<template name="product">
  <div class="page product {{activeTabClass}}">
    {{#nav title='' black=true back=true}}
    <!--
      {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-bookmark"></span></a>
      {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-bookmark-hollow"></span></a>
      {{/if}}
      <a href="#" class="nav-item js-share"><span class="icon-camera"></span></a>
      -->
    {{/nav}}

    <div id="image-product" class="image-product" style="background-image: url('{{productImage product=this size='full'}}')"></div>
    <!-- 三个商品图片 -->
    <div style="display: inline-block">
      {{#if imgName}}
    	<img src="/img/products/640x480/{{imgName}}" style="height: auto; width: 32%;" class="image1">
      {{/if}}
      {{#if imgName2}}
    	<img src="/img/products/640x480/{{imgName2}}" style="height: auto; width: 32%;" class="image2">
      {{/if}}
      {{#if imgName3}}
    	<img src="/img/products/640x480/{{imgName3}}" style="height: auto; width: 32%;" class="image3">
      {{/if}}
    </div>

    <div class="attribution-product js-uncollapse">
      <h1 class="title-product">{{name}}</h1>
      <div class="metadata-wrapper">
        <p class="description-product">{{#if model}}型号:{{model}} &nbsp;{{/if}} {{#if originalCountry}}商品来源:{{originalCountry}}{{/if}}</p>
        <p class="description-product">{{brief}}</p>
        {{#if ourPrice}}
        <span class="price">GoGo7价{{ourPrice}}(RMB)</span>
        {{/if}}
        {{#if hkPrice}}
        <span class="time">香港价{{hkPrice}}(RMB)</span>
        {{/if}}
        {{#if euPrice}}
        <span class="time">欧洲价{{euPrice}}(RMB)</span>
        {{/if}}
        {{#if usPrice}}
        <span class="time">美国价{{usPrice}}(RMB)</span>
        {{/if}}
        {{#if cnPrice}}
        <span class="time">中国价{{cnPrice}}(RMB)</span>
        {{/if}}
        {{#if totalSoldCount}}
        <span class="time">售出:{{totalSoldCount}}件&nbsp;</span>
        {{/if}}
        {{#if stockCount}}
        <span class="time">仅剩:{{stockCount}}件&nbsp;</span>
        {{/if}}
        {{#if deliveryRegion}}
        <p class="description-product">配送范围:{{deliveryRegion}}</p>
        {{/if}}
      </div>

      <div class="btns-group">
        <a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'product'}}no-state{{/if}} js-show-product">描述</a>
        <a class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'product'}}no-state{{/if}} js-show-feed">下单</a>
      </div>
    </div>


    <div class="content-scrollable static-nav make-scrollable">
    	<!--
      <a class="btn-tertiary js-share"><span class="icon-camera"></span> Share that you made this</a>

      <h2 class="list-title">Ingredients</h2>
      <ul class="list-ingredients">
        {{#each ingredients}}
          <li class="item-ingredient">{{this}}</li>
        {{/each}}
      </ul>

      <h2 class="list-title">Directions</h2>
      <ol class="list-directions">
        {{#each directions}}
          <li class="item-direction">
            <span class="text">{{this}}</span>
          </li>
        {{/each}}
          <li class="item-direction">
          ...
          </li>
      </ol>
      <a href="{{source.url}}" target="_blank" class="btn-primary js-open">See full product on {{source.name}}</a>
      -->
      <h2 class="list-title">商品介绍</h2>
      <p class="description-product">{{description}}</p>
      
    </div>

    <div class="content-scrollable static-nav feed-scrollable">
			<!--
      <a class="btn-tertiary js-share"><span class="icon-camera"></span> Share that you made this</a>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No feed activity yet</div>
            <div class="subtitle-message">Be the first to share that you made this recipe. <a class="js-share">Share now</a></div>
          </div>
        {{/each}}
      </div>
			-->
	    <h2 class="list-title">库存:{{stockCount}}</h2>
			<div style="align:centre">
	      <!--<a class="btn-primary btn-buy"><span class="icon-checkmark"></span>下单</a>-->
	      <a class="btn-secondary btn-increase"><span class="icon-upwardsarrow"></span></a>
	      <label>购买数量:{{#if itemNumber}}{{itemNumber}}{{/if}}</label>
	      <a class="btn-secondary btn-decrease"><span class="icon-downwardsarrow"></span></a>
			</div>
			<br/>
			{{#if hasItem}}
			<div>
				<p class="description-product">
	      此商品已在<a href="{{pathFor 'cart'}}">购物车</a>中，您可以继续选购<a href="{{pathFor 'products'}}">其它商品</a>或直接去<a href="{{pathFor 'cart'}}">下单</a>
	      </p>
			</div>
			{{/if}}
		
    </div>
    
  </div>
</template>