<!-- 添加商品 -->
<template name="productSubmit">
  <div id="productSubmit" class="content-scrollable">
    <!--<div class="wrapper-productSubmit">-->
    <div>
      <!--{{#if isAdmin}}-->
        <h1 class="title-productSubmit">添加商品</h1>

        <form>
          <label></label>
	     		<input type="text" name="name" placeholder="商品名称" />
	     		<input type="text" name="brand" placeholder="品牌" />
	     		<input type="text" name="model" placeholder="型号" />
	     		<input type="text" name="deliveryRegion" placeholder="配送范围" />
	     		<input type="text" name="category" placeholder="类别" />
	     		<input type="text" name="originalCountry" placeholder="商品来源" /><br/>
	     		<input type="checkbox" checked="{{luxryFlag}}" class="toggle-checked" name="categoryflags" value="luxryFlag" />奢侈品
			<input type="checkbox" checked="{{babyFlag}}" class="toggle-checked" name="categoryflags" value="babyFlag" />母婴
			<input type="checkbox" checked="{{healthfoodFlag}}" class="toggle-checked" name="categoryflags" value="healthfoodFlag" />保健品
			<input type="checkbox" checked="{{cosmeticsFlag}}" class="toggle-checked" name="categoryflags" value="cosmeticsFlag" />美容品<br/>
			<input type="text" name="ourPrice" placeholder="我们价" />
	     		<input type="text" name="hkPrice" placeholder="香港价" />
	     		<input type="text" name="euPrice" placeholder="欧洲价" />
	     		<input type="text" name="usPrice" placeholder="美国价" />
	     		<input type="text" name="cnPrice" placeholder="大陆价" /><br/>
	     		<input type="text" name="stockCount" placeholder="库存量" />
	     		<input type="text" name="totalSoldCount" placeholder="总售量" />
	     		<input type="text" name="displayOrder" placeholder="显示顺序(越大越前)" /><br/>
	     		<input type="text" name="imgName" style="width:300px" placeholder="主图片名(大小为:640X480),此图显示在列表页面" />
	     		<input type="text" name="imgName2" style="width:300px" placeholder="图片名2(大小为:640X480)" />
	     		<input type="text" name="imgName3" style="width:400px" placeholder="图片名3(大小为:640X480)" /><br/>
	     		<input type="text" name="brief" style="width:400px" placeholder="一句话简述" /><br/>
          <textarea name="description" rows="5" placeholder="详细描述"></textarea>
        	<input type="checkbox" checked="{{highlighted}}" class="toggle-checked" name="flags" value="highlighted" />主推产品(选中则列表中大图显示)
         	<input type="checkbox" checked="{{promotionFlag}}" class="toggle-checked" name="flags" value="promotionFlag" />促销产品
         	<input type="checkbox" checked="{{hotFlag}}" class="toggle-checked" name="flags" value="hotFlag" />热销产品(选中显示在首页)
					<!--
          <textarea name="text" rows="5" placeholder="Show the latest Local Market news on the the frontpage...">{{latestNews.text}}</textarea>
          -->
          <br/>
          <button type="submit" class="btn-primary">保存并添加下一个</button>
        </form>
      <!--{{else}}
        <h1 class="title-productSubmit">请登录管理员账号</h1>

        {{#unless currentUser}}
          <a class="login">Log in</a>
        {{/unless}}

	      <div class="account-wrapper-message">
	        <div class="title-message">
						{{> loginButtons}}
					</div>
				</div>
      {{/if}}-->
    </div>
    
    <div>
	    <ul>
	      {{#each products}}
	        {{> productAdmin}}
	      {{/each}}
	    </ul>
	  </div>
	  
	  <br/>
	  <h1>客户订单</h1>
	  {{> orderAdmin}}
	  
  </div>
</template>


<!-- 编辑商品 -->
<template name="productEdit">
  <div id="productSubmit" class="content-scrollable">
    <div>
        <h1 class="title-productSubmit">编辑商品</h1>

        <form>
          <label></label>
	     		<input type="text" name="name" value="{{name}}" placeholder="商品名称" />
	     		<input type="text" name="brand" value="{{brand}}" placeholder="品牌" />
	     		<input type="text" name="model" value="{{model}}" placeholder="型号" />
	     		<input type="text" name="deliveryRegion" value="{{deliveryRegion}}" placeholder="配送范围" />
	     		<input type="text" name="category" value="{{category}}" placeholder="类别" />
	     		<input type="text" name="originalCountry" value="{{originalCountry}}" placeholder="商品来源" /><br/>
			<input type="checkbox" checked="{{luxryFlag}}" class="toggle-checked" name="categoryflags" value="luxryFlag" />奢侈品
                        <input type="checkbox" checked="{{babyFlag}}" class="toggle-checked" name="categoryflags" value="babyFlag" />母婴
                        <input type="checkbox" checked="{{healthfoodFlag}}" class="toggle-checked" name="categoryflags" value="healthfoodFlag" />保健品
                        <input type="checkbox" checked="{{cosmeticsFlag}}" class="toggle-checked" name="categoryflags" value="cosmeticsFlag" />美容品<br/>
	     		<input type="text" name="ourPrice" value="{{ourPrice}}" placeholder="我们价" />
	     		<input type="text" name="hkPrice" value="{{hkPrice}}" placeholder="香港价" />
	     		<input type="text" name="euPrice" value="{{euPrice}}" placeholder="欧洲价" />
	     		<input type="text" name="usPrice" value="{{usPrice}}" placeholder="美国价" />
	     		<input type="text" name="cnPrice" value="{{cnPrice}}" placeholder="大陆价" /><br/>
	     		<input type="text" name="stockCount" value="{{stockCount}}" placeholder="库存量" />
	     		<input type="text" name="totalSoldCount" value="{{totalSoldCount}}" placeholder="总售量" />
	     		<input type="text" name="displayOrder" value="{{displayOrder}}" placeholder="显示顺序(越大越前)" /><br/>
	     		<input type="text" name="imgName" value="{{imgName}}" style="width:300px" placeholder="主图片名(大小为:640X480),此图显示在列表页面" />
	     		<input type="text" name="imgName2" value="{{imgName2}}" style="width:300px" placeholder="图片名2(大小为:640X480)" />
	     		<input type="text" name="imgName3" value="{{imgName3}}" style="width:400px" placeholder="图片名3(大小为:640X480)" /><br/>
	     		<input type="text" name="brief" style="width:400px" value="{{brief}}" placeholder="一句话简述" /><br/>
          <textarea name="description" rows="5" value="{{description}}" placeholder="详细描述"></textarea>
        	<input type="checkbox" checked="{{highlighted}}" class="toggle-checked" name="flags" value="highlighted" />主推产品(选中则列表中大图显示)
         	<input type="checkbox" checked="{{promotionFlag}}" class="toggle-checked" name="flags" value="promotionFlag" />促销产品
         	<input type="checkbox" checked="{{hotFlag}}" class="toggle-checked" name="flags" value="hotFlag" />热销产品(选中显示在首页)
          <br/>
          <button type="submit" class="btn-primary">保存修改</button>&nbsp;&nbsp;&nbsp;
          <a href="{{pathFor 'productSubmit'}}" class="btn-primary">返回添加</a>
        </form>
    </div>
    
    <div>
	    <ul>
	      {{#each products}}
	        {{> productAdmin}}
	      {{/each}}
	    </ul>
	  </div>
	        
  </div>
</template>


<!-- 管理页面中的商品列表 -->
<template name="productAdmin">
	<li>
  	<button class="delete">&times;</button>
  	<span class="text">{{displayOrder}} - <a href="{{pathFor 'productEdit'}}"><strong>{{name}}</strong></a> - {{brand}} - {{model}} - {{brief}}</span>
  </li>
</template>

<!-- 编辑新闻 -->
<template name="news">
    <div>
      <form>
        <label>首页新闻</label>
        <textarea name="newscontent" rows="1" placeholder="首页的简短新闻">{{latestNews.text}}</textarea>
        <button type="submit" class="btn-primary">保存新闻</button>
      </form>
	  </div>
</template>


<!-- 管理页面中的订单列表 -->
<template name="orderAdmin">
  <div>
    <ul>
      {{#each orders}}
				<li>
			  	<!--<button class="delete">&times;</button>-->
			  	<span class="text">用户:{{username}} - 电话:{{phone}} - 商品:{{productName}} - 数量:{{productQuantity}} - 单价:{{productPrice}}</span><br/>
			  	<span class="text">配送时间:{{deliveryTime}} - 配送地址:{{deliveryAddress}} - Email:{{email}} - 折扣码:{{discountCode}} - 额外说明:{{description}}</span>
			  </li>
      {{/each}}
    </ul>
  </div>
</template>
