<template name="products">
  <div class="page products">
    {{> nav title='商品' black=true products=true}}

    <div class="content-scrollable">
      <div class="list-products">
        {{#each products}}
          {{#if highlighted}}
            {{> productItem product=this size='large'}}
          {{else}}
            {{> productItem product=this size='small'}}
          {{/if}}
        {{/each}}
      </div>
    </div>

  </div>
</template>

<template name="productsLuxury">
  <div class="page products">
    {{> nav title='奢侈品' black=true products=true}}

    <div class="content-scrollable">
      <div class="list-products">
        {{#each productsLuxury}}
          {{#if highlighted}}
            {{> productItem product=this size='large'}}
          {{else}}
            {{> productItem product=this size='small'}}
          {{/if}}
        {{/each}}

        {{#if productsLuxuryReady}}
          {{#unless allProductsLuxuryLoaded}}
          <a class="item-product highlightedClass more-link" href="#">
            <span class="attribution">
              <span class="title-product">点我多看10个商品</span>
              <span class="metadata-product">
                <span class="ourPrice-product"></span>
              </span>
            </span>
            <img src="loadmore.jpg" />
          </a> 
          {{/unless}}
        {{else}}
          <a class="item-product" href="#">
            <span class="attribution"><span class="title-product">加载中...</span></span>
          </a> 
        {{/if}}

      </div>
    </div>

  </div>
</template>

<template name="productsBaby">
  <div class="page products">
    {{> nav title='母婴' black=true products=true}}

    <div class="content-scrollable">
      <div class="list-products">
        {{#each productsBaby}}
          {{#if highlighted}}
            {{> productItem product=this size='large'}}
          {{else}}
            {{> productItem product=this size='small'}}
          {{/if}}
        {{/each}}

        {{#if productsBabyReady}}
          {{#unless allProductsBabyLoaded}}
          <a class="item-product highlightedClass more-link" href="#">
            <span class="attribution">
              <span class="title-product">点我多看10个商品</span>
              <span class="metadata-product">
                <span class="ourPrice-product"></span>
              </span>
            </span>
            <img src="loadmore.jpg" />
          </a> 
          {{/unless}}
        {{else}}
          <a class="item-product" href="#">
            <span class="attribution"><span class="title-product">加载中...</span></span>
          </a> 
        {{/if}}

      </div>
    </div>

  </div>
</template>

<template name="productsHealthfood">
  <div class="page products">
    {{> nav title='保健品' black=true products=true}}

    <div class="content-scrollable">
      <div class="list-products">
        {{#each productsHealthfood}}
          {{#if highlighted}}
            {{> productItem product=this size='large'}}
          {{else}}
            {{> productItem product=this size='small'}}
          {{/if}}
        {{/each}}

        {{#if productsHealthfoodReady}}
          {{#unless allProductsHealthfoodLoaded}}
          <a class="item-product highlightedClass more-link" href="#">
            <span class="attribution">
              <span class="title-product">点我多看10个商品</span>
              <span class="metadata-product">
                <span class="ourPrice-product"></span>
              </span>
            </span>
            <img src="loadmore.jpg" />
          </a> 
          {{/unless}}
        {{else}}
          <a class="item-product" href="#">
            <span class="attribution"><span class="title-product">加载中...</span></span>
          </a> 
        {{/if}}

      </div>
    </div>

  </div>
</template>

<template name="productsCosmetics">
  <div class="page products">
    {{> nav title='美容品' black=true products=true}}

    <div class="content-scrollable">
      <div class="list-products">
        {{#each productsCosmetics}}
          {{#if highlighted}}
            {{> productItem product=this size='large'}}
          {{else}}
            {{> productItem product=this size='small'}}
          {{/if}}
        {{/each}}

        {{#if productsCosmeticsReady}}
          {{#unless allProductsCosmeticsLoaded}}
          <a class="item-product highlightedClass more-link" href="#">
            <span class="attribution">
              <span class="title-product">点我多看10个商品</span>
              <span class="metadata-product">
                <span class="ourPrice-product"></span>
              </span>
            </span>
            <img src="loadmore.jpg" />
          </a> 
          {{/unless}}
        {{else}}
          <a class="item-product" href="#">
            <span class="attribution"><span class="title-product">加载中...</span></span>
          </a> 
        {{/if}}

      </div>
    </div>

  </div>
</template>