<template name="productItem">
  <a class="item-product {{highlightedClass}}" href="{{path}}">
    {{#with product}}
      <span class="attribution">
        <span class="title-product">{{name}}</span>
        <span class="metadata-product">
          <span class="ourPrice-product">{{ourPrice}}元</span>
        	{{#if stockCount}}
          <span class="stockCount-product">仅剩:{{stockCount}}件</span>
        	{{/if}}
          <!--
          <span class="author-product">GoGo7价:{{ourPrice}}</span>
          <span class="bookmarks-product"><span class="icon-bookmark"></span> {{stockCount}}</span>
          -->
        </span>
      </span>
    {{/with}}

    <img src="{{productImage product=product size=size}}" />
  </a>
</template>